body
{
    background-color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    overflow: auto;
}

#myHeader
{
    display: block;
    background-image: url("forphotoshop1\ \(2\).png");
    width: 100%;
    height: 35%;
}

#headerTitle
{
    color: black;
    font-weight: 200;
}

#aboutMe
{
    padding-bottom: 80px;
}

#footerBg
{
    background-color: rgb(172, 141, 235);
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: 50px;
}

@media only screen and (min-width:600px) and (max-width:800px) 
{
    #footerBg
    {
       margin-bottom: -50px;
    }
}

@media only screen and (max-width:600px) 
{
    #footerBg
    {
        position: relative;
        margin-bottom: 0px;
    }
}

